*{ 
    margin: 0;
    padding: 0; 
}
.next-page{ 
    display: flex; 
    justify-content: center; 
    text-align: center;  
    align-items: center;
   min-height: 100vh; 
    background: linear-gradient(rgb(247, 183, 192), rgb(231, 195, 201), rgb(233, 157, 169));
} 
.thanksmessage{ 
    height: 100px; 
    text-align: center;
} 
.tick{ 
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 160px; 
} 
i{ 
    font-size: 45px;
    color: green;
    border: 2px solid green;
    height: 70px;
    width: 70px;
    border-radius: 50%;
 
} 
.fa-check:before{ 
    position: relative;
    top: 11px; 

} 
h4{ 
    font-size: 20px; 
    font-weight: 300;
    color: #1fa71f; 
    padding: 0px 0px 50px;
} 
p{ 
    color: gray;
} 
.text{ 
    position: relative;
    bottom: 45px;
}